@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--dark-blue: hsl(249, 10%, 26%);
	--grayish-blue: hsl(246, 25%, 77%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.body {
	background-color: var(--red);
	background-image: url(images/bg-intro-mobile.png);
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	padding: 8px 28px;
}

.header {
	color: white;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header > h1 {
	font-size: 1.8rem;
	font-weight: 700;
	text-align: center;
	width: 16ch;
}

.header > p {
	text-align: center;
	margin-top: 20px;
	padding: 0 24px;
	width: 36ch;
}

.promotion {
	background-color: var(--blue);
	padding: 20px 28px;
	margin-top: 64px;
	border-radius: 8px;
	text-align: center;
	text-wrap: pretty;
	color: white;
	box-shadow: hsl(0, 0%, 0%, 20%) 0 8px;
	margin-bottom: 36px;
}

@media (min-width: 1024px) {
	.body {
		background-image: url(images/bg-intro-desktop.png);
		flex-direction: row;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		padding: 96px;
	}

	.header {
		margin: 0;
		align-items: start;
		width: 50vw;
	}

	.header > h1 {
		font-size: 3rem;
		text-align: left;
		width: 13ch;
	}

	.header > p {
		text-align: left;
		width: 52ch;
		padding: 0;
	}

	.main {
		width: 50vw;
	}
}
