@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--dark-blue: hsl(249, 10%, 26%, 25%);
	--grayish-blue: hsl(246, 25%, 77%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.body {
	background-color: var(--red);
	background-image: url(images/bg-intro-mobile.png);
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 8px 28px;
}

.header {
	color: white;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header > h1 {
	font-size: 1.8rem;
	font-weight: 700;
	text-align: center;
	width: 16ch;
}

.header > p {
	text-align: center;
	margin-top: 20px;
	padding: 0 24px;
	width: 36ch;
}

.main {
	min-width: 270px;
}

.promotion {
	background-color: var(--blue);
	padding: 20px 28px;
	margin-top: 64px;
	border-radius: 8px;
	text-align: center;
	text-wrap: pretty;
	color: white;
	box-shadow: var(--dark-blue) 0 8px;
}

.form-container {
	background-color: white;
	padding: 28px;
	border-radius: 12px;
	box-shadow: var(--dark-blue) 0 8px;
	margin-top: 36px;
	margin-bottom: 36px;
}

.form-container > form > ul {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.form-container li {
	list-style: none;
	position: relative;
}

/* to hide label visually but still be read by screen reader */
.form-container label {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.form-container input {
	border-radius: 4px;
	width: 100%;
	padding: 16px 20px;
	font-weight: 600;
	border: 2px solid var(--grayish-blue);
	display: block;
}

.form-container input:focus {
	outline: none;
	border-color: var(--blue);
}

.form-container input:invalid {
	border-color: var(--red);
	color: var(--red);
}

.form-container input::placeholder {
	color: var(--grayish-blue);
	font-size: 1rem;
}

.form-container em {
	display: none;
}

.form-container input:invalid + em {
	display: block;
	text-align: right;
	font-weight: 400;
	font-size: 0.7rem;
	margin-top: 4px;
	color: var(--red);
}

.form-container li:has(input:invalid):after  {
	content: url(images/icon-error.svg);
	position: absolute;
	right: 20px;
	top: 13.5px;
}

.form-container button {
	color: white;
	background-color: var(--green);
	margin-top: 16px;
	padding: 16px 28px;
	width: 100%;
	border-radius: 8px;
	border: none;
	font-size: 1rem;
	font-weight: 600;
	box-shadow: hsl(154, 50%, 50%) 0 4px;
	cursor: pointer;
}

.form-container button:focus {
	background-color: hsl(154, 59%, 61%);
	outline: none;
}

.form-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 12px;
	text-align: center;
	font-size: 0.8rem;
	color: var(--grayish-blue);
}

.form-footer > p {
	width: 35ch;
}

.form-footer strong {
	color: var(--red);
}

@media (min-width: 1024px) {
	.body {
		background-image: url(images/bg-intro-desktop.png);
		flex-direction: row;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		padding: 0 24px;
	}

	.header {
		margin: 0;
		align-items: start;
		width: 50vw;
	}

	.header > h1 {
		font-size: 3rem;
		text-align: left;
		width: 20ch;
	}

	.header > p {
		text-align: left;
		width: 52ch;
		padding: 0;
	}

	.main {
		width: 50vw;
	}

	.promotion {
		margin-top: -32px;
	}

	.form-container {
		margin-bottom: 0;
	}

	.form-container button {
		letter-spacing: 0.1rem;
	}

	.form-footer {
		margin-top: 20px;
	}

	.form-footer > p {
		font-size: 0.7rem;
		width: 100%;
		padding: 0 8px;
	}
}

@media (min-width: 1440px) {
	.body {
		padding: 0 152px;
	}
}

@media (min-width: 2560px) {
	.body {
		padding: 0 500px;
	}

	.header > h1 {
		font-size: 5rem;
	}

	.main {
		min-width: 780px;
	}
}
